---
import Layout from '../pages/_layout.astro';
import '../styles/global.css';
---

<Layout title="Beinajans - Yenilikçi Yazılım Çözümleri | Özel Geliştirme ve Dijital Dönüşüm">
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, error.</p> -->
</Layout>
