<a href="/" class="inline-flex flex-col items-center -space-y-1">
    <div class="flex items-baseline-last gap-0.5">
        <span class="font-secondary text-7xl">Bein</span>
        <span class="font-secondary text-3xl font-extralight text-red-400">ajans</span>
    </div>
    <span class="mt-1 text-sm font-light text-gray-500">Digital Marketing Agency</span>
</a>
